<h3>{{viewTitle}}</h3>

<form action="/category" method="POST" autocomplete="off">
    <input type="hidden" name="_id" value="{{category._id}}">
    <div class="form-group">
        <label>Category Name</label>
        <input type="text" class="form-control" name="categoryName" placeholder="Category Name" value="{{category.categoryName}}">
        <div class="text-danger">
            {{category.categoryNameError}}</div>
    </div>
    <div class="form-group">
        <label>For</label>
        <select name="categoryFor" class="form-control" id="categoryFor"> 
            <option value="M">Men</option>
            <option value="W">Women</option>
        </select>
        <div class="text-danger">
            {{category.categoryForError}}</div>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-info"><i class="fa fa-database"></i> Submit</button>
        <a class="btn btn-secondary" href="/category/list"><i class="fa fa-list-alt"></i> View All</a>
    </div>
</form>
<script>
    alert(category.categoryFor);
    $("#categoryFor").val(category.categoryFor);
</script>